link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
link(rel='stylesheet', href='../css/autocomplete.css')
link(rel='stylesheet', href='../css/styles.css')
script(src='https://code.jquery.com/jquery-3.2.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
script(src='../js/autocomplete.js')
script(src='../js/scripts.js')
if page == "enterScores"
  script(src='../js/enterScores.js')
if page == "editTeachers"
  script(src='../js/editTeachers.js')
if page == "studentHome"
  script(src='../js/studentHome.js')
if page == "exportRAP"
  script(src='../js/exportRAP.js')
