nav.navbar.navbar-expand-lg.navbar-dark.justify-content-between
  a.navbar-brand(href='#') Regular Assessment Program
  ul.navbar-nav.ml-auto
    li.nav-item
      a.nav-link(href='#') RAP Rubric
    li.nav-item
      a.nav-link(href='#') Enter Scores
    li.nav-item
      a.nav-link(href='#') Check Scores
    li.nav-item
      a.nav-link(href='/admin') Admin
