nav.navbar.navbar-expand-md.navbar-dark.justify-content-between
  a.navbar-brand(href='/') Regular Assessment Program
  button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(id="navbarToggler")
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/rubric') Rubric
      if user
        if user.access > 0
          li.nav-item
            a.nav-link(href='/insights') Insights
          li.nav-item
            a.nav-link(href='/') Enter Scores
          li.nav-item
            a.nav-link(href='/checkScores') Check Scores
          if user.access > 2
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle#navbarDropdown(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Admin
              .dropdown-menu(aria-labelledby=navbarDropdown)
                a.dropdown-item(href='/dashboard') Dashboard
                a.dropdown-item(href='/editTeachers') Edit Teachers
                a.dropdown-item(href='/checkTeacher') Check Teacher
                a.dropdown-item(href='/refreshTeachers') Refresh Teachers
                a.dropdown-item(href='/importEdval') Import Edval Data
                a.dropdown-item(href='/importEMU') Import EMU Data
                a.dropdown-item(href='/updateAverages') Update Averages
                a.dropdown-item(href='/resetScores') Reset Scores
        else
          li.nav-item
            a.nav-link(href='/') View Scores
        li.nav-item
          a.nav-link(href='/logout') Logout
