html
  include partials/header.pug
  body
    .container#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h4 Edval Class Lists
                p Export class lists in CSV format from Edval to import into the RAP system below
                .card#classes-card
                  .card-header#classes-header
                    ul#subject-tabs.nav.nav-pills.nav-fill(role='tablist')
                      li.nav-item
                        a.nav-link.active#tab-upload(data-toggle='pill', href='#tab-container-1', role='tab', aria-controls='tab-container-1', aria-selected='true') Upload
                      li.nav-item
                        a.nav-link#tab-instructions(data-toggle='pill', href='#tab-container-2', role='tab', aria-controls='tab-container-2', aria-selected='true') Instructions
                  .card-body#classes-body
                    .tab-content#tab-container
                      .tab-pane.fade.show.active#tab-container-1(role='tabpanel', aria-labelledby='tab-upload')
                        .row
                          .col-sm-12
                            form#upload-form(action="/upload", autocomplete="off", method="POST", encType="multipart/form-data")
                              .row
                                .col-md-8.col-lg-4.form-group
                                  label(for='fileUpload') CSV File:
                                  input.browse-file.form-control-file.form-control-lg(type='file', id='fileUpload', name='fileUpload', placeholder="Browse File", required)
                                .col-md-4.col-lg-2.form-group
                                  label(for='year') Year:
                                  select.form-control.form-control-lg(id='year', name='year')
                                    option(selected) 2018
                                .col-md-4.col-lg-2.form-group
                                  label(for='term') Term:
                                  select.form-control.form-control-lg(id='term', name='term')
                                    option 1
                                    option(selected) 2
                                    option 3
                                    option 4
                                .col-md-4.col-lg-2.form-group
                                  label(for='week') Week:
                                  select.form-control.form-control-lg(id='week', name='week')
                                    option(selected) 5
                                    option 9
                                .col-md-4.col-lg-2.form-group
                                  div(style='margin-top: 32px;')
                                  button.btn.btn-primary.btn-lg(type='submit', style='width: 100%;') Upload
                      .tab-pane.fade#tab-container-2(role='tabpanel', aria-labelledby='tab-instructions')
                        .row
                          .col
                            p 1. Go to File > Export data > Students > Class lists
                            img.border.border-primary(src='img/import/export_class_lists_1.png')
                            p
                            p 2. Make sure the following options are selected and click Ok
                            img.border.border-primary(src='img/import/export_class_lists_2.png')
                            p
                            p 3. Save the CSV file and upload it into the RAP program
    include partials/footer.pug
