- var page = "exportRAP"
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3 Backup / Restore RAP Data
                p Recommended to regularly backup RAP Data. This contains all historical RAP data for every student and teacher.                
                .card#classes-card
                  .card-header#classes-header
                    ul#subject-tabs.nav.nav-pills.nav-fill(role='tablist')
                      li.nav-item
                        a.nav-link.active#tab-backup(data-toggle='pill', href='#tab-container-1', role='tab', aria-controls='tab-container-1', aria-selected='true') Backup
                      li.nav-item
                        a.nav-link#tab-restore(data-toggle='pill', href='#tab-container-2', role='tab', aria-controls='tab-container-2', aria-selected='false') Restore
                  .card-body#classes-body
                    .tab-content#tab-container
                      .tab-pane.fade.show.active#tab-container-1(role='tabpanel', aria-labelledby='tab-backup')                        
                        .row
                          .col-sm-12
                            button#exportRAP.btn.btn-primary.btn-lg(type='submit', style='width: 100%;') Export RAP Data                          
                      .tab-pane.fade#tab-container-2(role='tabpanel', aria-labelledby='tab-restore')
                        .row
                          .col-sm-12
                            form#upload-form(action="/restoreRAP", autocomplete="off", method="POST", encType="multipart/form-data")
                              .row
                                .col-md-8.form-group
                                  input.browse-file.form-control-file.form-control-lg(type='file', id='fileUpload', name='fileUpload', placeholder="Browse File", required)
                                .col-md-4.form-group
                                  button.btn.btn-primary.btn-lg(type='submit', style='width: 100%;') Restore
                .row
                  .col-sm-12
                    if success_msg != ""
                      div.alert.alert-success.text-center(role="alert", style='margin-top: 20px;') #{success_msg}
    include partials/footer.pug
