- var page = "checkClass"
doctype html
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3 By Class
                form#class-form(action="/check/class", autocomplete="off", method="GET" )
                  .input-group
                    input.form-control.form-control-lg(type='text', id='classCode', name='classCode', placeholder="Class Code")
                    span.input-group-btn
                      button.btn.btn-primary(type='submit') Go!
              .col-sm-12#scores                
    include partials/footer.pug
