- var page = "checkNotDone"
doctype html
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3 Classes With No Score               
              .col-sm-12#scores
    include partials/footer.pug
