- var page = 'enterScores'
if queryName
  - var name = queryName
else
  - var name = user.name
doctype html
html
  include partials/header.pug
  body(onload="generateScores();")
    .container#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3 #{name}
                p Enter a score between 1-5 for each of your classes below.
                  | See the #[a(href='/rubric') RAP Rubric] for more details.
                .form-group(style='display:none')
                    form#teacher-form(action="", autocomplete="off", method="GET", name='teacher-form')
                      .input-group
                        input.form-control.form-control-lg(type='text', id='teacherName', name='teacherName', value=name)
                        span.input-group-btn
                          button.btn.btn-primary(type='submit') Go!
              .col-sm-12#classes
    include partials/footer.pug
