html
  include partials/header.pug
  body
    .container#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                .form-group
                    form#teacher-form(action="/teacher", autocomplete="off", method="GET" )
                      input.form-control.form-control-lg(type='text', id='teacherName', name='teacherName', placeholder="Teacher Name")
                      input(type='submit', style='display: none')
              .col-sm-12#classes
    include partials/footer.pug
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel='stylesheet', href='../css/autocomplete.css')
    link(rel='stylesheet', href='../css/styles.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
    script(src='../js/autocomplete.js')
    script(src='../js/scripts.js')
