- var page = "insights"
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3 Insights
                p Current score distribution:
                canvas#myChart(width="500px", height="220px")
    include partials/footer.pug
