- var page = "insights"
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .row
                .col-sm-3
                  h3 Insights
                .col-sm-9
                  #stats.d-flex.justify-content-end
              .row.form-group
                .col-sm-4
                  button#byWhole.btn.btn-primary.year-button(style='width: 100%;') Whole School Score Distribution
                .col-sm-4
                  button#byYear.btn.btn-primary.year-button(style='width: 100%;') Score Distribution By Year Group
                .col-sm-4
                  button#byLogins.btn.btn-primary.year-button(style='width: 100%;') Number of Student Logins
              .row
                .col-sm-12
                  #loading
                  canvas#chart(width="500px", height="220px")
    include partials/footer.pug
