- var page = "insights"
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3 Insights
                .form-group
                  .row
                    .col-sm-6
                      button#byWhole.btn.btn-primary.year-button(style='width: 100%;') Whole School
                    .col-sm-6
                      button#byYear.btn.btn-primary.year-button(style='width: 100%;') By year Group
              .col-sm-12
                #loading
                canvas#chart(width="500px", height="220px")
    include partials/footer.pug
