- var page = "ie"
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3 Internet Explorer Not Supported
                p Please visit the website using Google Chrome, Edge, Firefox or another modern browser.
    include partials/footer.pug
