html
  include partials/header.pug
  body
    .container#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                .row.justify-content-center.align-items-center
                  .col-8.login
                    h3.loginTitle Log in with your DoE account
                    .row
                      .col-sm-12
                        form.form-group#login-form(action="/login/", autocomplete="off", method="POST")
                          .input-group
                            span.input-group-addon
                              i.fa.fa-envelope
                            input.form-control.form-control-lg(type="text", name="username", placeholder="Email Address", required)
                          span.help-block
                          .input-group
                            span.input-group-addon
                              i.fa.fa-lock
                            input.form-control.form-control-lg(type="password", name="password", placeholder="Password", required)
                          div.help-block
                          button.btn.btn-lg.btn-primary.btn-block#submit-button(type="submit") Login
                    .row
                      .col-sm-12
                        if error != null
                          div.alert.alert-danger.text-center(role="alert") #{error}
      include partials/footer.pug
