doctype html
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3 RAP Rubric
                p Use the rubric to guide your scoring for each student. <a href="../files/RAP-Rubric.pdf">Click here</a> to download a PDF to keep or print.
                table.table.table-bordered.table-sm.rap-table
                  thead.thead-light
                    tr
                      th.text-center.table-header(scope='col') Score
                      th(scope='col')
                      th.text-center.table-header.rap-column(scope='col') Respect
                      th.text-center.table-header.rap-column(scope='col') Responsibility
                      th.text-center.table-header.rap-column(scope='col') Learning
                  tbody
                    tr
                      td.align-middle
                        h1.text-center 5
                      td.align-middle
                        h4.text-center Outstanding
                      td.align-top
                        strong Is a respectful student who always:
                        ul
                          li Wears school uniform to promote a positive image of the school
                          li Follows staff instructions
                          li Speaks politely and uses manners
                          li Maintains a clean and safe environment
                          li Listens to the speaker without interrupting
                          li Puts their hand up to speak
                      td.align-top
                        strong Is a responsible student who always:
                        ul
                          li Is in the right place at the right time
                          li Has digital devices on silent and in their bag
                          li Has digital devices on silent and in their bag
                          li Tells the truth and is honest regarding the property of the school and others.
                          li Uses equipment for its purpose
                      td.align-top
                        strong Demonstrates learning by always:
                        ul
                          li Having necessary equipment ready to learn
                          li Asking questions if unsure of task
                          li Completing all tasks to the standard requested.
                          li Letting others work
                          li Submitting work on time
                    tr
                      td.align-middle
                        h1.text-center 4
                      td.align-middle
                        h4.text-center Excellent
                      td.align-top
                        strong Is a respectful student who consistently:
                        ul
                          li Wears school uniform to promote a positive image of the school
                          li Follows staff instructions
                          li Speaks politely and uses manners
                          li Maintains a clean and safe environment
                          li Listens to the speaker without interrupting
                          li Puts their hand up to speak
                      td.align-top
                        strong Is a responsible student who  consistently:
                        ul
                          li Is in the right place at the right time
                          li Has digital devices on silent and in their bag
                          li Has a pass to be out of class when necessary
                          li Tells the truth and is honest regarding the property of the school and others.
                          li Uses equipment for its purpose
                      td.align-top
                        strong Demonstrates learning by consistently:
                        ul
                          li Having necessary equipment ready to learn
                          li Asking questions if unsure of task
                          li Completing all tasks to the standard requested
                          li Letting others work
                          li Submitting work on time
                    tr
                      td.align-middle
                        h1.text-center 3
                      td.align-middle
                        h4.text-center Good
                      td.align-top
                        strong Is a respectful student who satisfactorily:
                        ul
                          li Wears school uniform to promote a positive image of the school
                          li Follows staff instructions
                          li Speaks politely and uses manners
                          li Maintains a clean and safe environment
                          li Listens to the speaker without interrupting
                          li Puts their hand up to speak
                      td.align-top
                        strong Is a responsible student who satisfactorily:
                        ul
                          li Is in the right place at the right time
                          li Has digital devices on silent and in their bag
                          li Has a pass to be out of class when necessary
                          li Tells the truth and is honest regarding the property of the school and others.
                          li Uses equipment for its purpose
                      td.align-top
                        strong Demonstrates learning by satisfactorily:
                        ul
                          li Having necessary equipment ready to learn
                          li Asking questions if unsure of task
                          li Completing all tasks to the standard requested
                          li Letting others work
                          li Submitting work on time
                    tr
                      td.align-middle
                        h1.text-center 2
                      td.align-middle
                        h4.text-center Of Concern
                      td.align-top
                        strong Is a student who is at times:
                        ul
                          li Demonstrating disruptive behaviours such as talking, not listening, calling out and interfering with the rights of other students to learn
                          li Interrupts the teacher
                          li Needs rule reminders
                          li Wears school uniform incorrectly or disregards the dress code
                          li Fails to maintain a clean and safe environment
                      td.align-top
                        strong Is a student who is at times:
                        ul
                          li Late for class or truants class
                          li Is reminded to put their phone away.
                          li Leaves the classroom without permission and no pass
                          li Dishonest regarding the property of the school and others
                          li Uses equipment inappropriately
                      td.align-top
                        strong Is a student who is at times:
                        ul
                          li Arriving with no equipment ready for the lesson.
                          li Does not ask questions if unsure of tasks or asks inappropriate questions
                          li Does not complete tasks to the standard requested
                          li Does not submit assessment tasks on time
                          li Interrupts the learning of others
                    tr
                      td.align-middle
                        h1.text-center 1
                      td.align-middle
                        h4.text-center Unsatisfactory Performance
                      td.align-top
                        strong Is a student who is often:
                        ul
                          li Demonstrates disruptive behaviours such as talking, not listening, calling out and interfering with the rights of other students to learn
                          li Interrupts the teacher
                          li Needs rule reminders
                          li Wears school uniform incorrectly/disregards the dress code
                          li Fails to maintain a clean and safe environment
                          li Is referred to the Head Teacher
                      td.align-top
                        strong Is a student who is often:
                        ul
                          li Late for class or truants class
                          li Reminded to put their phone away
                          li Leaves the classroom without permission and no pass
                          li Dishonest regarding the property of the school and others
                          li Uses equipment inappropriately
                      td.align-top
                        strong Is a student who is often:
                        ul
                          li Arrives to class with no equipment ready for the lesson
                          li Does not ask questions if unsure of tasks or asks inappropriate questions
                          li Does not complete tasks to the standard requested
                          li Does not submit assessment tasks on time
                          li Interrupts the learning of others
    include partials/footer.pug
