- var name = user.name
- var page = "studentHome"
doctype html
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .row
                .col-sm-6
                  h3#studentNameHeading #{name}                  
                .col-sm-6
                  #stats.d-flex.justify-content-end
                .col-sm-12
                  p Below you can see your most recent and historical RAP scores. 
                    | See the #[a(href='/rubric') RAP Rubric] for more details about how the scores are calculated.
              .row
                .col-sm-12#scores
    include partials/footer.pug
