- var page = 'enterScores'
if queryName
  - var name = queryName
else
  - var name = user.name
doctype html
html
  include partials/header.pug
  body
    .container-fluid#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h3#teacherName #{name}
                if !queryName
                  p Enter a score from 1-5 for each of your classes. See the #[a(href='/rubric') RAP Rubric] for more details. 
                    | Leave the score blank or remove the student from the class if they do not qualify for a score (e.g. left school, have not attended your class).
                    | Clicking the button a second time will also remove the score. 
              .col-sm-12#classes
    include partials/footer.pug
