html
  include partials/header.pug
  body
    .container#main
      include partials/nav.pug
      .row
        .col-sm-12
          .card#content-container
            .card-body#content-body
              .col-sm-12
                h4 Edit Teachers
                p Browse, delete, rename and update access levels for teachers.
                .card#classes-card
                  .card-header#classes-header
                    ul#subject-tabs.nav.nav-pills.nav-fill(role='tablist')
                      li.nav-item
                        a.nav-link.active#tab-upload(data-toggle='pill', href='#tab-container-1', role='tab', aria-controls='tab-container-1', aria-selected='true') Edit
                      li.nav-item
                        a.nav-link#tab-instructions(data-toggle='pill', href='#tab-container-2', role='tab', aria-controls='tab-container-2', aria-selected='true') Upload
                  .card-body#classes-body
                    .tab-content#tab-container
                      .tab-pane.fade.show.active#tab-container-1(role='tabpanel', aria-labelledby='tab-upload')
                        p Hello World
                      .tab-pane.fade#tab-container-2(role='tabpanel', aria-labelledby='tab-instructions')
                        .row
                          .col-sm-12
                            form#upload-form(action="/uploadTeachers", autocomplete="off", method="POST", encType="multipart/form-data")
                              .row
                                .col-md-8.form-group
                                  label(for='fileUpload') CSV File:
                                  input.browse-file.form-control-file.form-control-lg(type='file', id='fileUpload', name='fileUpload', placeholder="Browse File", required)
                                .col-md-4.form-group
                                  div(style='margin-top: 32px;')
                                  button.btn.btn-primary.btn-lg(type='submit', style='width: 100%;') Upload
    include partials/footer.pug
