/* ---- FOOTER ---- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background: #42A5F5;
  font-family: 'Lato', sans-serif;
}

.container-fluid {
  min-width: 535px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
#main {
  margin-top: 20px;
}

.navbar {
  background-color: #3584C4;
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.2em;
}

.school-logo {
  margin-right: 10px;
}

.nav-link {
  color: rgba(255,255,255,0.6);
  font-size: 0.9em;
}

.nav-link:hover {
  color: rgba(255,255,255,0.8);
  text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

@media (max-width: 950px) {
  .navbar-brand {
    font-size: 1.0em;
  }
  .nav-link {
    font-size: 0.7em;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
  }
}

#content-container {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h3 {
  margin-bottom: 10px;
}

#content-body {
  margin: 10px;
}

.nav-link.active {
  background-color: #3584C4 !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #eaf5ff;
 }

.scoreColumn {
  width: 190px;
  text-align: right;
}

.scoreColumn label {
  text-align: left;
}

.scoreColumn a {
  width: 24px;
  display: inline-block;
  margin-left: 6px;
}

.form-check-input {
  visibility: hidden !important;
  position: absolute !important;
}

.form-check-input:checked + label {
  background: #3584C4;
  color: white;
  transition: all 0.5s ease-out;
}

.scoreRadio {
  margin-left: 2px;
  margin-right: 2px;
  background-color: #eaf5ff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding-left: 6px;
  padding-top: 0px;
  margin-bottom: 0;
  cursor: pointer;
  border: 1px solid black;
  transition: all 0.5s ease-out;
}

.scoreRadio:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-out;
}

#add-student {
  margin-bottom: 15px;
}

.btn-delete {
  padding: .2rem .5rem;
  font-size: 0.7rem;
  border-radius: .25rem;
}

label, button {
    cursor: pointer;
}

.table td {
  padding: 0.5rem;
}

#subject-tabs .nav-link {
  padding: 10px;
  color: #3584C4;
  font-size: 1.2em;
  background: white;
  border-bottom: 2px solid #3584C4;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#subject-tabs .nav-link.active {
  color: white;
}

#classes-header {
  padding: 0;
}

#upload-form {
  margin-bottom: 0;
}

.browse-file {
  border: 1px solid #ced4da;
  height: 47px;
  width: 100%;
  padding: 4px 5px;
}

img {
  max-width: 100%;
}

.save-button {
  width: 85px;
  margin-right: 5px;
}

.rap-table {
  font-size: 0.8em;
}

.table-header {
  font-size: 1.2em;
}

.rap-column {
  width: 28%;
}

/* ---- LOGIN ---- */

.login {
  padding: 40px 20px;
}

.loginTitle {
  text-align: center;
  margin-bottom: 20px;
}

.login-instructions {
  margin-bottom: 30px;
}

.login .input-group-addon {
  width: 40px;
}

.login .input-group .i {
	width: 20px;
}

.login .input {
  height: 40px;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    color: red;
}

.forgotPwd {
  margin-top: 10px;
}

.instructions {
  padding-bottom: 15px;
  font-size: 1.1em;
}

.browsers {
  margin-top: 30px;
}

/* ---- STUDENT HOME ---- */
.scores-container {
  margin: 0;
  padding: 0;
}

.scores-table {
  margin: 0;
  padding: 0;
}

.score-column {
  width: 140px;
  text-align: center;
}


/* --- MOBILE DEVICES --- */
@media only screen
  and (min-device-height: 480px)
  and (max-device-width: 480px) {

    body {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    #main {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    h3 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.75em;
    }

    .col-sm-12 {
      padding-right: 0;
    }

    nav {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .scoreRadio {
      margin-left: 2px;
      margin-right: 2px;
      width: 70px;
      height: 70px;
      padding-left: 20px;
      padding-top: 0px;
      margin-bottom: 0;
    }

    .scoreColumn {
      width: 440px;
      text-align: right;
      font-size: 3em;
    }

    .scoreColumn a {
      width: 74px;
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
    }

    .student-label {
      font-size: 2.5em;
      line-height: 80px;
    }

    #subject-tabs {
      font-size: 2em;
    }

 }


}
